*.*
*
!*/
!/nemu/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/npc/*
!Makefile
!README.md
!.gitignore
!init.sh
/fceux-am
/nvboard
verilator/.git
.vscode/settings.json
/am-kernels
/prelearn
/oss-cad-suite
